@font-face {
    font-family: 'Antapani';
    src: url('Antapani-Medium.woff2') format('woff2'),
        url('Antapani-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Antapani';
    src: url('Antapani-Medium.woff2') format('woff2'),
        url('Antapani-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

